html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: wheat;

}
.phan1{
    background-color: #262625;
    height: 50px;
}
.container{
    width: max-content;
}
.hay{
    float: left;
width: 50%;
}
.hay ul{
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    width: 10%;
height: auto}
.hay ul li{
    float: left;
    width: 25%;
}
.icon{
    float: left;
    height: 100px;
    width: auto;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;

}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

.phan2{
    background-color: wheat;
    padding-top: 0;
    height: 200px;
}
h1{
    color: black;
    font-family: "PT Sans Narrow";
    padding-top: 60px;
    text-align: center;
    font-size: 50px;
}
.phan2 p{
    text-align: center;
    font-size: 20px;
}
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    background-color: #262625;
}

.row{
    background-color: wheat;

}
.slider{
    overflow: hidden;
    max-width:content-box ;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation:  20s slider infinite;
}
.slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }

}
.left{
    padding: 10px;
    border-radius: 25px;
    line-height: 20px;
}
i {
    opacity: 0;
    font-size: 28px;
    color: #1F1E1E;
    will-change: transform;
    -webkit-transform: scale(.1);
    transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 240px;
    height: 72px;
    background-color: #EEEEED;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn_wrap:hover {
    /* transition-delay: .4s; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

span {
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 72px;
    border-radius: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #EEEEED;
    background-color: #1F1E1E;
    padding: 0 18px;
    -webkit-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

/*.containers {*/
/*    display: -webkit-box;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-pack: distribute;*/
/*    justify-content: space-around;*/
/*    -webkit-box-align: center;*/
/*    -ms-flex-align: center;*/
/*    align-items: center;*/
/*    width: 240px;*/
/*    height: 64px;*/
/*    border-radius: 80px;*/
/*}*/
.col-sm-4 content p{
    color: black;
}

.containers i:nth-of-type(1) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.containers i:nth-of-type(2) {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.containers i:nth-of-type(3) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

.containers i:nth-of-type(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.btn_wrap:hover span {
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px)
}

.btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width:100px;
}
/*.listt{}*/

/*.listt ul li{*/
/*    float: left;*/
/*    width: 25%;*/
/*}*/
/*.container ul.tab{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    display: flex;*/
/*}*/
/*!*.container ul.tab li{*!*/
/*    background-color: #b14c38;*/
/*    padding: 10px;*/
/*    color: white;*/
/*    border-radius: 3px;*/
/*    cursor: pointer;text-align: center;*/
/*    width: 80px;margin-right: 10px;*/
/*}*/
.container ul.product-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.container ul.product-list li img{
    width: 220px;margin-right: 10px;margin-bottom: 10px;height: 200px;
}
#Popu,#best{
    display: none;
}
ul .tab li.active{
    background-color: #ee4d2d;
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #333;
    width: 100%;
}

ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 31px;
    line-height: 31px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #666;
    color: #ccc;
    overflow: hidden;
    position: relative;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
    background-color: #ccc;
    color: #333;
}

ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}

.tab_container {
    border: 1px solid #333;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}

.tab_content {
    padding: 20px;
    display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
}